/* required LIB STYLES */
/* .Treant se automatski dodaje na svaki chart conatiner */
.Treant { position: relative; overflow: hidden; padding: 0 !important; }
.Treant > .node,
.Treant > .pseudo { position: absolute; display: block; visibility: hidden; }
.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo { visibility: visible; }
.Treant > .pseudo { width: 0; height: 0; border: none; padding: 0; }
.parent {
  position: relative;
}

.collapse-switch {
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  cursor: pointer;
  border-radius: 50%;
}

.Treant .collapse-switch { width: 10px; height: 10px; display: block; border: 2px solid blue; position: absolute; top: 1px; right: 40px; cursor: pointer; }
.Treant .collapsed .collapse-switch { background-color: #868DEE; }
.Treant > .node img {	border: none; float: left; }